---
title: Quiz Generator
---
<nav class="m-sticky-nav">
  <a class="m-sticky-nav__logo" href="">vox</a>
  <ul class="social">
    <li><a class="icon-twitter" data-social="Twitter" href="javascript:void(0);" onclick="window.open( 'http://www.twitter.com/intent/tweet?text=40 maps that explain the Middle East&url=http://www.vox.com/a/maps-explain-the-middle-east','','width=550, height=350, scrollbars=no' )"></a></li>
    <li><a class="icon-facebook" data-social="Facebook" href="jav2ascript:void(0);" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://www.vox.com/a/maps-explain-the-middle-east'), 'facebook-share-dialog', 'width=626,height=436'); return false;"></a></li>
  </ul>
</nav>
<div class="feature-body">

	<header>
	    <h1 class="show-at-large">Test yourself before you<br> wreck yourself</h1>
	    <h1 class="hide-at-large">Test yourself before you wreck yourself</h1>
	    <h3>by <a href="http://www.vox.com/authors/max-fisher">Max Fisher</a> on May  5, 2014</h3>
  </header>

  <div class="quiz">
    <p><%= data['Sheet1'][0].question %></p>
    <ul>
      <li><p><%= data['Sheet1'][0].a %></p></li>
      <li><p><%= data['Sheet1'][0].b %></p></li>
      <li><p><%= data['Sheet1'][0].c %></p></li>
      <li><p><%= data['Sheet1'][0].d %></p></li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    // do stuff here
  })
</script>